#main-nav #navbarSupportedContent {
  height: 100vh; }

#main-nav .nav-item a {
  color: white;
  padding: 15px;
  float: right;
  width: 10vw; }

#main-nav a.navbar-brand {
  color: #344143;
  font-style: italic; }

#main-nav .nav-item a:hover {
  color: #D04E2D; }

#main-nav .scroll .nav-item a:hover {
  color: #344143; }
