.service-section {
  align-items: center;
  text-align: center;
  border: dashed 1px #5A544F; }

.service-section .service-item i {
  overflow: hidden;
  background-color: #D04E2D;
  color: white;
  border-radius: 50%;
  font-size: 3.3em;
  height: 80px;
  line-height: 80px;
  transition: all .7s;
  width: 80px; }

.service-section .service-item i:hover {
  background-color: white;
  border: 1px dashed #D04E2D;
  color: #D04E2D;
  transform: rotate(360deg); }

.service-section .service-item h4 {
  font-weight: bold;
  margin: 30px; }
