#slider .single-slide img {
  height: 100%;
  width: 100%;
  overflow: hidden; }

#slider .slide {
  margin-left: 35px; }

#slider .single-slide {
  background-color: white;
  height: 200px;
  width: 150px; }
  @media screen and (min-width: 768px) {
    #slider .single-slide {
      height: 300px;
      width: 230px; } }

#slider .slide-show {
  width: 100vw;
  height: 200px; }
  @media screen and (min-width: 768px) {
    #slider .slide-show {
      height: 300px; } }

#slider .gallery-box {
  margin-top: 33.33%; }

#slider .arrow {
  height: 20px;
  width: 20px;
  border: transparent;
  background-color: transparent; }

#slider .prev-slide {
  border-left: white 2px solid;
  border-bottom: white 2px solid;
  margin-left: 35px;
  position: absolute;
  transform: rotate(45deg); }

#slider .next-slide {
  border-right: white 2px solid;
  border-bottom: white 2px solid;
  transform: rotate(-45deg);
  position: absolute;
  margin-left: 92vw; }

#slider .prev-slide,
#slider .next-slide {
  margin-top: -120px; }
  @media screen and (min-width: 768px) {
    #slider .prev-slide,
    #slider .next-slide {
      margin-top: -180px; } }
