#team {
  text-align: center;
  background-color: #18292E;
  color: #5A544F; }
  #team .team-member {
    height: 350px;
    width: 250px;
    background-size: cover;
    background-position: center;
    display: inline-block;
    position: relative; }
    #team .team-member .team-member-text {
      overflow: hidden;
      color: #18292E;
      margin-top: 310px;
      height: 40px;
      background-color: #D04E2D;
      transition: all .4s; }
      #team .team-member .team-member-text h4 {
        font-weight: bold; }

#team .team-member:hover .team-member-text {
  margin-top: 0;
  height: 350px;
  background-color: rgba(255, 255, 255, 0.5); }

#team-member-1 {
  background-image: url(../img/vladislav-nikonov-641657-unsplash.jpg); }

#team-member-2 {
  background-image: url(../img/jaunt-and-joy-658006-unsplash.jpg); }

#team-member-3 {
  background-image: url(../img/jon-ly-610685-unsplash.jpg); }

#team .team-member .team-member-social i {
  overflow: hidden;
  width: 40px;
  height: 40px;
  line-height: 40px;
  background-color: #D04E2D;
  border-radius: 50%;
  margin: 0 5px;
  color: #18292E;
  font-size: 25px;
  transition: all .4s; }

#team .team-member:hover i {
  background-color: transparent;
  border: 1px solid #D04E2D;
  color: #D04E2D; }
