@import 'zmienne';

#navbar {
    overflow: hidden;
    width: 100vw;
    .logo {
        height: 60px;
        padding: 10px;
        @media screen and(min-width: $small){
            padding: 10px 60px;
        }
    }
    .navbar-brand {
        position: absolute;
        align-self: center;
        text-align: center;
        margin-left: 45%;
    }
    .navbar-nav {
        :first-child {
            margin-left: 1.15vw;
        }
        .nav-item {
            align-content: center;
            justify-content: center;
            align-self: center;
            padding: 2vw;
            @media screen and(min-width: $medium){
                padding: 0 2vw;
            }
            a {
                padding: 0;
                font-size: 14px;
                @media screen and(min-width: $small){
                    font-size: 16px;
                }
                @media screen and(min-width: $medium){
                    font-size: 1vw;
                }
            }
            a:hover{
                color: $dark-green;
            }
        }
    }
}
.shadow {
    -webkit-box-shadow: 0 8px 6px -6px #dad9d9;
    -moz-box-shadow: 0 8px 6px -6px #dad9d9;
    box-shadow: 0 8px 6px -6px #dad9d9;
}