@import 'zmienne';
* {
    box-sizing: border-box;
    overflow-x: hidden;
    letter-spacing: 1px;
    body {
        color: $light-gray;
        font-family: 'Poppins', sans-serif;
        margin: 0;
        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            font-family: 'Abril Fatface', cursive;
            overflow: hidden;
        }
        h1 {
            letter-spacing: 1px;
            font-size: 48px;
            @media screen and(min-width: $small){
                font-size: 62px;
            }
            @media screen and(min-width: $medium) {
                font-size: 6vw;
            }
        }
        h2 {
            font-size: 20px;
            letter-spacing: 2px;
            @media screen and(min-width: $small){
                font-size: 32px;
            }
            @media screen and(min-width: $medium) {
                font-size: 40px;
            }
        }
        h4 {
            font-size: 18px;
            line-height: 34px;
            @media screen and(min-width: $small){
                font-size: 24px;
            }
            @media screen and(min-width: $medium) {
                line-height: 36px;
                letter-spacing: 1px;
            }
        }
        p {
            color: #86919e;
            font-size: 14px;
            letter-spacing: 0.5px;
            line-height: 26px;
        }
        .arrow{
            height: 25px;
        }
    }
}

@import 'nav';
@import 'header';
@import 'about_us';
@import 'services';
@import 'slider';
@import 'premium';
@import 'references';
@import 'contact';
@import 'footer';
